mixin dropdown(options = {})
  - 
    const {
      title = "",
      additionalTitle = "",
      placeholder = "",
      name = "dropdown",
      type = "text",
      hasButtons = true,
      defaultText = "Сколько гостей",
      list = [
        {names: ["взрослые"], value: 0, isCommon: true},
        {names: ["дети"], value: 0, isCommon: true},
        {names: ["младенец", "младенца", "младенцев", "младенцы"], value: 0, isCommon: false}
      ],
      commonNames = ["гость", "гостя", "гостей"],
    } = options;
    const containerClasses = [];

  div(class=["dropdown", "js-dropdown"].concat(containerClasses)
    data-common-names=commonNames.join(",")
    data-default-text=defaultText
  )
    - if(title)
      p(class=["dropdown__title"])
        span(class=["dropdown__title-text"])= title
        - if(additionalTitle)
          span(class=["dropdown__additional-title-text"])= additionalTitle
    div(class=["dropdown__container"])
      div(class=["dropdown__input-container", "js-dropdown__input-container"])
        input(class=["dropdown__input", "js-dropdown__input"], 
          placeholder= placeholder,
          name=name,
          type=type,
          value=defaultText,
          readonly=true)
        p(class=["dropdown__dropdown-arrow", "js-dropdown__dropdown-arrow"]) expand_more
      ul(class=["dropdown__list", "js-dropdown__list"])
        - for(let item of list)
          li(class=["dropdown__list-item", "js-dropdown__list-item", `${item.isCommon ? "js-dropdown__list-item_common" : ""}`]
            data-names=item.names.join(",")
          )
            p(class=["dropdown__item-name", "js-dropdown__item-name"])= item.names[item.names.length - 1]
            div(class=["dropdown__item-handler"])
              button(class=["dropdown__item-minus", "js-dropdown__item-minus"]) -
              span(class=["dropdown__item-value", "js-dropdown__item-value"])= item.value
              button(class=["dropdown__item-plus", "js-dropdown__item-plus"]) + 
        - if(hasButtons)
          div(class=["dropdown__control-buttons"])
            p(class=["dropdown__clear-button", "js-dropdown__clear-button"]) очистить
            p(class=["dropdown__apply-button", "js-dropdown__apply-button"]) применить