mixin pagination(options)
    - const {title, curPageNumber, pagesCount} = options;

    div(class=["pagination"])
        - if(title)
            p(class=["pagination__title"])= title

        div(class=["pagination__page-list"])
            - if(curPageNumber !== 1)
                a(href="#" class=["pagination__left-arrow", "js-pagination__page-link"] data-page-number="leftArrow")
                    span(class=["pagination__left-arrow-text"]) arrow_forward
                a(href="#" class=["pagination__page-link", "js-pagination__page-link"] data-page-number="1")
                    span(class=["pagination__page-link-text"])= 1                    

            - if(curPageNumber - 3 > 1)
                a(class=["pagination__page-link"] data-page-number="...")
                    span(class=["pagination__page-link-text"])= "..." 

            - if(curPageNumber - 2 > 1)
                a(href="#" class=["pagination__page-link", "js-pagination__page-link"] data-page-number=`${curPageNumber - 2}`)
                    span(class=["pagination__page-link-text"])= curPageNumber - 2
            - if(curPageNumber - 1 > 1)
                a(href="#" class=["pagination__page-link", "js-pagination__page-link"]  data-page-number=`${curPageNumber - 1}`)
                    span(class=["pagination__page-link-text"])= curPageNumber - 1

            a(href="#" class=["pagination__page-link", "pagination__page-link_target", "js-pagination__page-link"]  data-page-number=`${curPageNumber}`)
                span(class=["pagination__page-link-text"])= curPageNumber

            - if(curPageNumber + 1 < pagesCount)
                a(href="#" class=["pagination__page-link", "js-pagination__page-link"] data-page-number=`${curPageNumber + 1}`)
                    span(class=["pagination__page-link-text"])= curPageNumber + 1
            - if(curPageNumber + 2 < pagesCount)
                a(href="#" class=["pagination__page-link", "js-pagination__page-link"] data-page-number=`${curPageNumber + 2}`)
                    span(class=["pagination__page-link-text"])= curPageNumber + 2

            - if(curPageNumber + 3 < pagesCount)
                a(class=["pagination__page-link"] data-page-number="...")
                    span(class=["pagination__page-link-text"])= "..." 

            - if(curPageNumber !== pagesCount)
                a(href="#" class=["pagination__page-link", "js-pagination__page-link"] data-page-number=`${pagesCount}`)
                    span(class=["pagination__page-link-text"])= pagesCount    
                a(href="#" class=["pagination__right-arrow", "js-pagination__page-link"] data-page-number="rightArrow")
                    span(class=["pagination__right-arrow-text"]) arrow_forward

        - if(bottomText)
            p(class=["pagination__bottom-text"])= bottomText
