mixin pagination(options = {})
  - 
    const {
      title = "",
      currentPageNumber = 1,
      pagesCount = 15,
      itemsCount = 180,
    } = options;

  div(class=["pagination"])
    - if(title)
      p(class=["pagination__title"])= title
    div(class=["pagination__list"])
      - if(currentPageNumber !== 1) {
        p(class=["pagination__left-arrow", "js-pagination__link"] data-page-number="leftArrow")
          span(class=["pagination__left-arrow-text"]) arrow_forward
        p(class=["pagination__link", "js-pagination__link"] data-page-number="1")
          span(class=["pagination__link-text"])= 1
      - }
      - if(currentPageNumber - 3 > 1)
        p(class=["pagination__dots"] data-page-number="...")
          span(class=["pagination__link-text"])= "..." 
      - if(currentPageNumber - 2 > 1)
        p(class=["pagination__link", "js-pagination__link"] data-page-number=`${currentPageNumber - 2}`)
          span(class=["pagination__link-text"])= currentPageNumber - 2
      - if(currentPageNumber - 1 > 1)
        p(class=["pagination__link", "js-pagination__link"] data-page-number=`${currentPageNumber - 1}`)
          span(class=["pagination__link-text"])= currentPageNumber - 1
      p(class=["pagination__link", "pagination__link_target", "js-pagination__link"] data-page-number=`${currentPageNumber}`)
        span(class=["pagination__link-text"])= currentPageNumber
      - if(currentPageNumber + 1 < pagesCount)
        p(class=["pagination__link", "js-pagination__link"] data-page-number=`${currentPageNumber + 1}`)
          span(class=["pagination__link-text"])= currentPageNumber + 1
      - if(currentPageNumber + 2 < pagesCount)
        p(class=["pagination__link", "js-pagination__link"] data-page-number=`${currentPageNumber + 2}`)
          span(class=["pagination__link-text"])= currentPageNumber + 2
      - if(currentPageNumber + 3 < pagesCount)
        p(class=["pagination__dots"] data-page-number="...") 
          span(class=["pagination__link-text"])= "..." 
      - if(currentPageNumber !== pagesCount) {
        p(class=["pagination__link", "js-pagination__link"] data-page-number=`${pagesCount}`)
          span(class=["pagination__link-text"])= pagesCount    
        p(class=["pagination__right-arrow", "js-pagination__link"] data-page-number="rightArrow")
          span(class=["pagination__right-arrow-text"]) arrow_forward
      - }
    p(class=["pagination__bottom-text", "js-pagination__bottom-text"])
