mixin radio(options = {})
  - 
    const {
      blockNumber = 0,
      buttonsList = [
        {text: "Мужчина", isChecked: true},
        {text: "Женщина", isChecked: false},
      ],
      name = "gender",
    } = options; 

  div(class=["radio"])
    - for(let item of buttonsList)
      label(class=["radio__label"])
        input(class=["radio__input"] 
          type="radio"
          name= `${name}-${blockNumber}`
          checked= item.isChecked)
        div(class=["radio__colored-circle"])
        p(class=["radio__text"])= item.text

