mixin navigation-menu(options = {})
  -
    const {
      refs = [
        {url: "https://www.error.com/", isOuter: true, text: "О нас", hasDropdown: false},
        {url: "https://www.error.com/", isOuter: true, text: "Услуги", hasDropdown: true, subrefs: [
          {url: "https://www.error.com/", isOuter: true, text: "Вакансии"},
          {url: "https://www.error.com/", isOuter: true, text: "Новости"},
          {url: "https://www.error.com/", isOuter: true, text: "Соглашения"},
        ]},
        {url: "https://www.error.com/", isOuter: true, text: "Вакансии", hasDropdown: false},
        {url: "https://www.error.com/", isOuter: true, text: "Новости", hasDropdown: false},
        {url: "https://www.error.com/", isOuter: true, text: "Соглашения", hasDropdown: true, subrefs: [
          {url: "https://www.error.com/", isOuter: true, text: "Вакансии"},
          {url: "https://www.error.com/", isOuter: true, text: "Новости"},
          {url: "https://www.error.com/", isOuter: true, text: "Соглашения"},
        ]},
      ],
    } = options;

  ul(class=["navigation-menu"])
    - for(let ref of refs)
      li(class=["navigation-menu__item"])
        - if(ref.hasDropdown){
          div(class=["navigation-menu__item-ref"])
            ul(class=["navigation-menu__submenu"])
              - for(let subref of ref.subrefs)
                li(class=["navigation-menu__submenu-item"]) 
                  a(class=["navigation-menu__submenu-item-ref"] 
                    href=subref.url 
                    target=(subref.isOuter ? "_blank" : "") 
                    rel=(subref.isOuter ? "noopener noreferrer" : ""))= subref.text
            span(class=["navigation-menu__item-ref-text"])= ref.text
          div(class=["navigation-menu__dropdown-arrow"]) expand_more
        - }
        - else
          a(class=["navigation-menu__item-ref"] 
            href=ref.url 
            target=(ref.isOuter ? "_blank" : "") 
            rel=(ref.isOuter ? "noopener noreferrer" : ""))= ref.text