mixin navigation-menu(options = {})
  -
    const {
      refs = [
        {url: "https://www.error.com/", isOuter: false, text: "О нас", hasDropdown: false},
        {url: "https://www.error.com/", isOuter: false, text: "Услуги", hasDropdown: true, subrefs: [
          {url: "https://www.error.com/", isOuter: false, text: "Вакансии"},
          {url: "https://www.error.com/", isOuter: false, text: "Новости"},
          {url: "https://www.error.com/", isOuter: false, text: "Соглашения"},
        ]},
        {url: "https://www.error.com/", isOuter: false, text: "Вакансии", hasDropdown: false},
        {url: "https://www.error.com/", isOuter: false, text: "Новости", hasDropdown: false},
        {url: "https://www.error.com/", isOuter: false, text: "Соглашения", hasDropdown: true, subrefs: [
          {url: "https://www.error.com/", isOuter: false, text: "Вакансии"},
          {url: "https://www.error.com/", isOuter: false, text: "Новости"},
          {url: "https://www.error.com/", isOuter: false, text: "Соглашения"},
        ]},
      ],
    } = options;

  ul(class=["navigation-menu"])
    - for(let ref of refs)
      li(class=["navigation-menu__item"])
        - if(ref.hasDropdown){
          div(class=["navigation-menu__item-ref"])
            ul(class=["navigation-menu__submenu"])
              - for(let subref of ref.subrefs)
                li(class=["navigation-menu__subitem"]) 
                  - if(subref.isOuter)
                    a(class=["navigation-menu__subitem-ref"] href=subref.url target="_blank" rel="noopener noreferrer")
                      p(class=["navigation-menu__subitem-ref-text"])= subref.text
                  - else
                    a(class=["navigation-menu__subitem-ref"] href=subref.url)
                      p(class=["navigation-menu__subitem-ref-text"])= subref.text
            p(class=["navigation-menu__item-ref-text"])= ref.text
          div(class=["navigation-menu__dropdown-arrow"]) expand_more
        - }
        - else
          - if(ref.isOuter)
            a(class=["navigation-menu__item-ref"] href=ref.url target="_blank" rel="noopener noreferrer")
              p(class=["navigation-menu__item-ref-text"])= ref.text
          - else
            a(class=["navigation-menu__item-ref"] href=ref.url)
              p(class=["navigation-menu__item-ref-text"])= ref.text