mixin pie-chart(options = {})
  -
    const {
      outerRadius = 60,
      innerRadius = 56,
      hoveredInnerRadius = 50,
      intervalBetweenArcs = 1,
      segments = [
        { value: 520, topColor: "rgb(255, 227, 156)", bottomColor: "rgb(255, 186, 156)", name: "great", text: "Великолепно" },
        { value: 260, topColor: "rgb(111, 207, 151)", bottomColor: "rgb(102, 210, 234)", name: "good", text: "Хорошо" },
        { value: 260, topColor: "rgb(188, 156, 255)", bottomColor: "rgb(139, 164, 249)", name: "normal", text: "Удовлетворительно" },
        { value: 0, topColor: "rgb(145, 145, 145)", bottomColor: "rgb(61, 73, 117)", name: "bad", text: "Разочарован" },
      ],
    } = options;

  div(class=["pie-chart"] 
    data-outer-radius=outerRadius 
    data-inner-radius=innerRadius 
    data-hovered-inner-radius=hoveredInnerRadius
    data-interval-between-arcs=intervalBetweenArcs)
    div(class=["pie-chart__svg-container"])
      svg(class=["pie-chart__svg"])
        defs(class=["pie-chart__defs"])
          - for(let segment of segments) {
            linearGradient(class=["pie-chart__gradient"] id=`${segment.name}` x1="0" y1="0" x2="0" y2="1")
              stop(class=["pie-chart__top-color"] offset="0%" stop-color=`${segment.topColor}`)
              stop(class=["pie-chart__bottom-color"] offset="100%" stop-color=`${segment.bottomColor}`)
          - }
        g(class=["pie-chart__paths"] transform=`translate(${outerRadius},${outerRadius})`)
          - for(let segment of segments) {
            path(class=["pie-chart__outer-path"] style=`fill:url(#${segment.name})`
              data-value=segment.value data-name=segment.name)
            path(class=["pie-chart__inner-path"]
              data-value=segment.value data-name=segment.name)
          - }
        circle(class=["pie-chart__central-circle"] cx="0" cy="0" r=hoveredInnerRadius transform=`translate(${outerRadius},${outerRadius})`)
      div(class=["pie-chart__current-segment"])
        div(class=["pie-chart__current-segment-value"])
        div(class=["pie-chart__current-segment-name"])
    div(class=["pie-chart__chart-list"])
      - for(let segment of segments) {
        div(class=["pie-chart__list-item"])
          div(class=["pie-chart__item-marker", `pie-chart__item-marker_with-name_${segment.name}`])
          div(class=["pie-chart__item-text"])= segment.text
      - }