.footerWidgetsAndCopyrightBar__subscribeToOurNewsletter
    p SUBSCRIBE TO OUR NEWSLETTER
    p Receive our latest news and promotions in your inbox!
    form.footerWidgetsAndCopyrightBar__subscribeToOurNewsletterEmailForm
        input(class=['footerWidgetsAndCopyrightBar__subscribeToOurNewsletterInput']
            name="email" 
            type="email" 
            placeholder="Your email address")
        input(class=['footerWidgetsAndCopyrightBar__subscribeToOurNewsletterSubmit']
            type="submit"
            value="arrow_forward")