mixin checkbox-list(options)
    -
        const {
            title,
            isExpandable,
            isOpened,
            checkboxList,
            hasAdditionalText
        } = options;

        const containerClasses = [];
        const titleClasses = [];
        const itemTextClasses = [];

        if(isExpandable)containerClasses.push("checkbox-list_expandable");
        else if(hasAdditionalText)containerClasses.push("checkbox-list_rich");
        itemTextClasses.push(`checkbox-list__item-text_${hasAdditionalText ? "main" : "single"}`);

    div(class=["checkbox-list"].concat(containerClasses))
        p(class=["checkbox-list__title"].concat(titleClasses))
            span(class=["checkbox-list__title-text"])= title
            - if(isExpandable)
                span(class=["checkbox-list__dropdown-arrow"]) expand_more
        ul(class=["checkbox-list__list"] data-is-opened=isOpened)
            - for(let item of checkboxList)
                li(class=["checkbox-list__item"])
                    label(class=["checkbox-list__label"])
                        input(class=["checkbox-list__input"] type= "checkbox" checked= item.isChecked)
                        div(class=["checkbox-list__checkmark"])
                            img(class=["checkbox-list__checkmark-image"] 
                                src="./src/components/checkbox-list/img/check-mark.svg" alt="checkmark")
                        div(class=["checkbox-list__frame"])
                        p(class=["checkbox-list__item-text"].concat(itemTextClasses))= item.text
                    - if(hasAdditionalText)
                        p(class=["checkbox-list__item-additional-text"])= item.additionalText  