mixin getFormInput(options, classArray)

    div(class=["formInput"])
        div(class=["formInput__title"])
            p(class=["formInput__titleText"])= options.titleText
            if options.titleTextTest.isTitleTextTestVisible
                p(class=["formInput__titleTextTest"])= options.titleTextTest.value

        div(class=["formInput__input"])               
            input(class=["formInput__mainInput"],
                placeholder= options.placeholder,
                name= options.name,
                type= options.type,
                value= options.value)
            if options.isSubmitButton
                input(class=['formInput__submitInput']
                    type="submit"
                    value="arrow_forward")