mixin getFormInput(inputType, options, classArray)
    if inputType === "textFieldDefault"
        div(class=["formInput", "formInput_textFieldDefault"])
            .formInput__label
                p(class=[""])= options.labelText
                if options.testLabel.isTestLabelVisible
                    p= options.testLabel.value
            div(class=["formInput__input"])               
                input(class=["formInput__mainInput"],
                    placeholder= options.placeholder,
                    name= options.name,
                    type= options.type,
                    value= options.value)
                if options.isSubmitButton
                    input(class=['formInput__submitInput']
                        type="submit"
                        value="arrow_forward")
    else if inputType === "dropdown"                     
        div(class=["formInput", "formInput_dropdown"])
            .formInput__label
                p(class=[""])= options.labelText
                if options.testLabel.isTestLabelVisible
                    p= options.testLabel.value
            div(class=["formInput__input", options.dropdownShowInfoType])
                input(class=["formInput__mainInput"],
                    placeholder= options.placeholder,
                    name= options.name,
                    type= options.type,
                    value= options.value,
                    disabled= true,
                    readonly= true)
                button(class=['formInput__dropdownInput']) expand_more
                div(class=["formInput__dropedList"]
                    style={display: "none"})
                    for item in options.dropList
                        div(class=["formInput__dropedListItem"])
                            p= item.name
                            div(class=["formInput__dropedListItemHandler"])
                                button(class=["formInput__dropedListItemHandlerMinus"])= "-"
                                p= item.value
                                button(class=["formInput__dropedListItemHandlerPlus"])= "+"