mixin calendar(options)
    -
        const {
            firstTitle,
            secondTitle,
            additionalTitle,
            isDouble,
            withRange,
        } = options;
    - const containerClasses = [];
    - const inputContainerClasses = [];

    - containerClasses.push(`calendar_${(withRange || isDouble) ? "with" : "without"}-range-picking`);
    - containerClasses.push(`calendar_${(isDouble) ? "double" : "single"}`);
    - inputContainerClasses.push(`${isDouble ? "calendar__input-container_first" : ""}`);


    div(class=["calendar"].concat(containerClasses))
        div(class=["calendar__input-container"].concat(inputContainerClasses))
            p(class=["calendar__title"])
                span(class=["calendar__title-text"])= firstTitle
                - if(additionalTitle)
                    span(class=["calendar__additional-title-text"])= additionalTitle
            label(class=["calendar__label", "calendar__label_first"])
                input(class=["calendar__input", "calendar__input_first"] 
                    type="text" 
                    name="first_date" 
                    placeholder="ДД.ММ.ГГГГ"
                    readonly=true)
                p(class=["calendar__dropdown-arrow"]) expand_more
        - if(isDouble)                
            div(class=["calendar__input-container", "calendar__input-container_second"])
                p(class=["calendar__title"])
                    span(class=["calendar__title-text"])= secondTitle
                label(class=["calendar__label", "calendar__label_second"])
                    input(class=["calendar__input", "calendar__input_second"]  
                        type="text" 
                        name="second_date"
                        placeholder="ДД.ММ.ГГГГ"
                        readonly=true)
                    p(class=["calendar__dropdown-arrow"]) expand_more                  
