//-
    blockNumber - постфикс имени радио инпута, для того чтобы разные блоки не влияли друг на друга
    numberOfCheckedStar - индекс выбранной по умолчанию звезды(от 0 до 5, где 0 - невыбрано не одной звезды)

mixin getRateButton(options)
    - const {blockNumber, numberOfCheckedStar} = options;

    div(class=["rating-radio"])
        - for(let i=5; i >= 1; i--)
            input(type="radio"
                class=["rating-radio__input", `rating-radio__input_${i}`]
                name=`starRating_${blockNumber}`
                value=i
                checked=(numberOfCheckedStar === i))
            p(class=["rating-radio__label", `rating-radio__label_${i}`]
                title=`Оценка «${i}»`)