mixin getDropdown(options, classes={})

    div(class=["dropdown"].concat(classes.container || []) data-border-radius="")
        div(class=["dropdown__title"].concat(classes.title || []))
            p(class=["dropdown__titleText"].concat(classes.titleText || []))= options.titleText
            - if(options.isTitleTextTestVisible)
                p(class=["dropdown__titleTextTest"].concat(classes.titleTextTest || []))= options.titleTextTestValue
        div(class=["dropdown__input"].concat(classes.input || []), data-default-value=options.value)
            input(class=["dropdown__mainInput"].concat(classes.mainInput || []), 
                placeholder= options.placeholder,
                name= options.name,
                type= options.type,
                value= options.value,
                readonly= true)
            p(class=['dropdown__dropdownInput'].concat(classes.dropdownInput || [])) expand_more
            div(class=["dropdown__dropedList"].concat(classes.dropedList || [])
                style={display: "none"})
                - for(let item of options.dropdownList)
                    div(class=["dropdown__dropedListItem"].concat(classes.dropedListItem || []))
                        p(class=["dropdown__dropedListItemText"].concat(classes.dropedListItemText || []))= item.name
                        div(class=["dropdown__dropedListItemHandler"].concat(classes.dropedListItemHandler || []))
                            button(class=["dropdown__dropedListItemHandlerMinus"].concat(classes.dropedListItemHandlerMinus || []))= "-"
                            p(class=["dropdown__dropedListItemHandlerText"].concat(classes.dropedListItemHandlerText || []))= item.value
                            button(class=["dropdown__dropedListItemHandlerPlus"].concat(classes.dropedListItemHandlerPlus || []))= "+"
                - if(options.hasApplyButton || options.hasClearButton)
                    div(class=["dropdown__controlButtonsContainer"].concat(classes.controlButtonsContainer || []))
                        - if(options.hasClearButton)
                            p(class=["dropdown__clearButton"].concat(classes.clearButton || [])) очистить
                        - if(options.hasApplyButton)
                            p(class=["dropdown__applyButton"].concat(classes.applyButton || [])) применить      

//- options.dropdown.typeOfShownInfo              