//-
    firstTitle/secondTitle - текст заголовков у двойного инпута
    isDoubleInput - определяет тип инпута(двойной, одинарный)
    isDateRange - определяет как выбирать дату в датапикере(конкретную дату или диапазон дат)
    width - ширина инпута(ов)

mixin getDateInput(options)
    -
        const {
            firstTitle,
            secondTitle,
            isDouble,
            withRange,
        } = options;
    - const containerClasses = [];
    - const inputContainerClasses = [];

    - containerClasses.push(`date-input_${(withRange || isDouble) ? "with" : "without"}-range-picking`);
    - containerClasses.push(`date-input_${(isDouble) ? "double" : "single"}`);
    - inputContainerClasses.push(`${isDouble ? "date-input__input-container_first" : ""}`);


    div(class=["date-input"].concat(containerClasses))
        div(class=["date-input__input-container"].concat(inputContainerClasses))
            p(class=["date-input__title"])= firstTitle
            label(class=["date-input__datepicker-label", "date-input__datepicker-label_first"])
                input(class=["date-input__datepicker-input", "date-input__datepicker-input_first"] 
                    type="text" 
                    name="first_date" 
                    placeholder="ДД.ММ.ГГГГ"
                    readonly=true)
                p(class=["date-input__datepicker-arrow"]) expand_more
        - if(isDouble)                
            div(class=["date-input__input-container", "date-input__input-container_second"])
                p(class=["date-input__title"])= secondTitle
                label(class=["date-input__datepicker-label", "date-input__datepicker-label_second"])
                    input(class=["date-input__datepicker-input", "date-input__datepicker-input_second"]  
                        type="text" 
                        name="second_date"
                        placeholder="ДД.ММ.ГГГГ"
                        readonly=true)
                    p(class=["date-input__datepicker-arrow"]) expand_more                  
