//-
    title - текст заголовка
    blockNumber - постфикс имени радио инпута, для того чтобы разные блоки не влияли друг на друга    
    radioButtonList - список объектов:
        {
            текст справа от переключателя
            text: "...",

            включен или нет
            isChecked: true/false,
        }
    buttonType - тип переключателя(radio/toggle)


mixin getRadioButton(options)
    - const {title, blockNumber, radioButtonList, buttonType} = options; 

    - const buttonClasses = [`radio-button__button_${buttonType}`];

    div(class=["radio-button"])
        - if(title)
            p(class=["radio-button__title"])= title
        div(class=["radio-button__labels"])
            - for(let item of radioButtonList)
                label(class=["radio-button__label"])
                    input(class=["radio-button__input"].concat(buttonClasses || []) 
                        type=(buttonType === "radio" ? "radio" : "checkbox") 
                        name= name + blockNumber
                        checked= item.isChecked)
                    div(class=[`radio-button__button-image_${buttonType}`])
                    p(class=["radio-button__text"])= item.text

