mixin star-rating(options = {})
    - 
        const {
            blockNumber = 0,
            numberOfCheckedStar = 0,
        } = options;

    div(class=["star-rating"])
        - for(let i = 5; i >= 1; i -= 1) {
            input(type="radio"
                class=["star-rating__input", `star-rating__input-${i}`]
                name=`star-rating-${blockNumber}`
                value=i
                checked=(numberOfCheckedStar === i))
            p(class=["star-rating__image", `star-rating__image-${i}`]
                title=`Оценка «${i}»`)
        - }