//-
    options.placeholder - фоновый текст в инпуте
    options.name - имя свойства в которое будет положено значение инпута при отправке на сервер
    options.type - тип инпута
    options.value - значение инпута по умолчанию
    options.titleText - текст заголовка

    options.withTotalValue - определяет что инпут должен содержать суммарное значение гостей

    options.isTitleTextTestVisible - определяет дополнительный заголовок(используется только на странице макета uikit)
    options.titleTextTestValue - текст дополнительного заголовка

    options.hasApplyButton - определяет есть ли в выпадающем списке кнопка Принять
    options.hasClearButton - определяет есть ли в выпадающем списке кнопка Очистить

mixin getDropdown(options)
    - 
        const {
            placeholder,
            name,
            type,
            value,
            titleText,
            withTotalValue,
            isTitleTextTestVisible,
            titleTextTestValue,
            hasApplyButton,
            hasClearButton,
        } = options;

    - const containerClasses = [`dropdown__${options.withTotalValue ? "with" : "without"}-total-value`];

    div(class=["dropdown"].concat(containerClasses))
        div(class=["dropdown__title"])
            p(class=["dropdown__title-text"])= options.titleText
            - if(options.isTitleTextTestVisible)
                p(class=["dropdown__title-text-test"])= options.titleTextTestValue
        div(class=["dropdown__input-container"] data-default-value=options.value)
            input(class=["dropdown__input"], 
                placeholder= options.placeholder,
                name=options.name,
                type=options.type,
                value=options.value,
                readonly=true)
            p(class=['dropdown__dropdown-arrow']) expand_more
            div(class=["dropdown__droped-list"]
                style={display: "none"})
                - for(let item of options.dropdownList)
                    div(class=["dropdown__list-item"])
                        p(class=["dropdown__item-name"])= item.name
                        div(class=["dropdown__item-handler"])
                            button(class=["dropdown__item-minus"])= "-"
                            p(class=["dropdown__item-value"])= item.value
                            button(class=["dropdown__item-plus"])= "+"
                - if(options.hasApplyButton || options.hasClearButton)
                    div(class=["dropdown__control-buttons-container"])
                        - if(options.hasClearButton)
                            p(class=["dropdown__clear-button"]) очистить
                        - if(options.hasApplyButton)
                            p(class=["dropdown__apply-button"]) применить