mixin getRoomInfo(options, classes={})

    div(class=["roomInfo"].concat(classes.container || []))
        div(class=["roomInfo__photos"])
            - for(let i = 1; i <= 4; i++){
                input(class=["roomInfo__photoRadioButtonInput", "roomInfo__photoRadioButtonInput_" + i] 
                    type="radio"
                    name="photo_" + options.blockNumber
                    checked=(i === 1)
                    disabled=(i > options.photos.length)
                    data-serial-number=i)
                div(class=["roomInfo__photoRadioButtonCircle", "roomInfo__photoRadioButtonCircle_" + i])
            - }
            - let i = 1;
            - for(let photoName of options.photos){
                img(class=["roomInfo__photo", "roomInfo__photo_" + i] src="./src/Cards.RoomInfo/img/" + photoName + ".png")
                - i++;
            - }
            - if(options.photos.length > 1)
                div(class=["roomInfo__arrows"])
                    button(class=["roomInfo__arrowBack"])
                        span(class=["roomInfo__arrowBackIcon"]) expand_more
                    button(class=["roomInfo__arrowForward"]) 
                        span(class=["roomInfo__arrowForwardIcon"]) expand_more

        div(class=["roomInfo__textInfo"])
            include ../Cards.RoomInfoTitle/RoomInfoTitle.pug
            +getRoomInfoTitle(options.roomInfoTitleOptions,
                {
                    container: ["roomInfo_bottomBorder"],
                    roomPriceAndPeriodOfTime: ["roomInfo_alignItemsCenter"],
                    roomNumber: ["roomInfo_fontSize19"]
                }
            )

            div(class=["roomInfo__roomRateAndReviewsCount"])
                include ../FormElements.RateButton/RateButton.pug
                +getRateButton({
                    blockNumber: options.blockNumber,
                    isCheckedArray: options.isCheckedArray,
                })

                div(class=["roomInfo__reviewsCountContainer"])
                    p(class=["roomInfo__reviewsCount"])= options.reviewsCount
                    p(class=["roomInfo__reviewsCountText"])= options.reviewsCountText