//-
    options.title - текст заголовка
    options.blockNumber - постфикс имени радио инпута, для того чтобы разные блоки не влияли друг на друга    
    options.radioButtonList - список объектов:
        {
            текст справа от переключателя
            text: "...",

            включен или нет
            isChecked: true/false,
        }
    options.buttonType - тип переключателя(radio/toggle)


mixin getRadioButton(options)
    - let classes = {};

    - let buttonClass = "radio-button__button_" + options.buttonType;
    -  classes.button ? classes.button.push(buttonClass) : classes.button = [buttonClass];

    div(class=["radio-button"])
        - if(options.title)
            p(class=["radio-button__title"])= options.title
        div(class=["radio-button__buttons-container"])
            - for(let item of options.radioButtonList)
                label(class=["radio-button__button-label"])
                    input(class=["radio-button__button"].concat(classes.button || []) 
                        type=(options.buttonType === "radio" ? "radio" : "checkbox") 
                        name= options.name + options.blockNumber
                        checked= item.isChecked)
                    div(class=["radio-button__button-image_" + options.buttonType])
                    p(class=["radio-button__text"])= item.text

