mixin getPagination(pagesCount, curPageNumber, options, classes)
    - let containerClasses = [];

    if classes
        - classes.containerClasses ? containerClasses = containerClasses.concat(classes.containerClasses) : [];


    if options.title
        p(class=["pagination__title"])= options.title

    div(class=["pagination__pageList"] data-cur-page-number=curPageNumber)
        if curPageNumber !== 1
            a(href="#" class=["pagination__leftArrow"])
                p(class=["pagination__leftArrowText"]) arrow_forward
            a(href="#" class=["pagination__pageLink"])
                p(class=["pagination__pageLinkText"])= 1                    

        if curPageNumber - 3 > 1
            a(class=["pagination__pageLink"])
                p(class=["pagination__pageLinkText"])= "..." 

        if curPageNumber - 2 > 1
            a(href="#" class=["pagination__pageLink"])
                p(class=["pagination__pageLinkText"])= curPageNumber - 2
        if curPageNumber - 1 > 1
            a(href="#" class=["pagination__pageLink"])
                p(class=["pagination__pageLinkText"])= curPageNumber - 1

        a(href="#" class=["pagination__pageLink", "pagination__pageLink_target"])
            p(class=["pagination__pageLinkText"])= curPageNumber

        if curPageNumber + 1 < pagesCount
            a(href="#" class=["pagination__pageLink"])
                p(class=["pagination__pageLinkText"])= curPageNumber + 1
        if curPageNumber + 2 < pagesCount
            a(href="#" class=["pagination__pageLink"])
                p(class=["pagination__pageLinkText"])= curPageNumber + 2
        if curPageNumber + 3 < pagesCount
            a(class=["pagination__pageLink"])
                p(class=["pagination__pageLinkText"])= "..." 

        if curPageNumber !== pagesCount
            a(href="#" class=["pagination__pageLink"])
                p(class=["pagination__pageLinkText"])= pagesCount    
            a(href="#" class=["pagination__rightArrow"])
                p(class=["pagination__rightArrowText"]) arrow_forward

    if options.downText
        p(class=["pagination__downText"])= options.downText                