.headersAndFooters__infoBar
    .headersAndFooters__someInfo
        include ../StandardNavBar/logo.pug
        p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.

    include ./infoBar/infoBarMenu.pug
    +getInfoBarMenu([['#', 'NAVIGATION'], ['#', 'About Us'], ['#', 'News'], ['#', 'Support'], ['#', 'Products']])
    +getInfoBarMenu([['#', 'ABOUT US'], ['#', 'Who we are'], ['#', 'Our team'], ['#', 'Careers'], ['#', 'Investors']])
    +getInfoBarMenu([['#', 'SUPPORT'], ['#', 'Documentation'], ['#', 'Community'], ['#', 'Get in Touch']])

    .headersAndFooters__subscribeToOurNewsletter
        p SUBSCRIBE TO OUR NEWSLETTER
        p Receive our latest news and promotions in your inbox!
        form.headersAndFooters__subscribeToOurNewsletterEmailForm
            input(class=['headersAndFooters__subscribeToOurNewsletterInput']
                name="email" 
                type="email" 
                placeholder="Your email address")
            input(class=['headersAndFooters__subscribeToOurNewsletterSubmit']
                type="submit"
                value="arrow_forward")